{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="card border-secondary mb-3" style="max-width: 50rem;">
    <div class="card-body">
        <h4 class="card-title, text-secondary">Create New Trip</h4>
        <form>
            <fieldset>
                <div class="form-group">
                    <label class="col-form-label, text-secondary" for="inputDefault">Enter each stop on your trip.</label>
                    <input type="text" class="form-control" placeholder="e.g. New York NY, Boston MA" id="inputDefault">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
<br>
<div class="card border-primary mb-3">
    <div class="card-body">
        <h4 class="card-title, text-primary">My Current Trips</h4>
        <table class="table table-hover, center">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Trip ID</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col" style="max-width: 7rem;">Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td style="max-width: 5rem;">
                        {{row["id"]}}
                    </td>
                    <td style="max-width: 10rem;">
                        {{row["origin"]}}
                    </td>
                    <td style="max-width: 10rem;">
                        {{row["end"]}}
                    </td>
                    <td style="max-width: 7rem;">
                        <a type="button" class="btn btn-primary" href="{{url_for('trip_details', tripId = row['id'])}}">View</a>
                        <a type="button" class="btn btn-primary disabled"  href="{{url_for('trip_details', tripId = row['id'])}}">Edit</a>
                        <a type="button" class="btn btn-outline-primary" href="{{url_for('trip_delete', id = row['id'])}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}