{% extends "base.html" %}

{% block title %}
Modify Trip
{% endblock %}

{% block style %}
<style>
    table {
        border-collapse: collapse;
        border:1px solid #56cc9d;
    }

    table td {
        border-left: 1px solid #56cc9d;
        border-right: 1px solid #56cc9d;
    }
    table th {
        border-left: 1px solid #56cc9d;
        border-right: 1px solid #56cc9d;
    }
    table tr {
        border-top: 1px solid #56cc9d;
        border-bottom: 1px solid #56cc9d;
    }

</style>
{% endblock %}

{% block body %}
<div class="card border-primary mb-3">
    <div class="card-body">
        <h4 class="card-title">My Current Stops</h4>
        <table class="table table-hover, center">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Stop #</th>
                    <th scope="col">Origin</th>
                    <th scope="col">End</th>
                    <th scope="col">Distance (miles)</th>
                    <th scope="col">Time</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["start"]}}</td>
                    <td>{{row["end"]}}</td>
                    <td>{{row["distance"]}}</td>
                    <td>{{row["time"]}}</td>
                    <td style="text-align: center;">
                        <a href="{{url_for("delete_stop", tripId=6, stopId=row["id"])}}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}